.hidden {
    display: none !important;
}

.player__container.iDevice:not(.mobile) video::-webkit-media-controls {
    display: none !important;
}

.player__container.mobile .player__share {
    display: none;
}

.player__container {
    font-family: Arial;
    display: flex;
    display: -webkit-flex;
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    margin-bottom: 0;
    overflow: hidden;
    width: 100%;
    padding-top: 0;
    -moz-transition: padding-bottom .8s ease-in-out;
    -ms-transition: padding-bottom .8s ease-in-out;
    -o-transition: padding-bottom .8s ease-in-out;
    -webkit-transition: padding-bottom .8s ease-in-out;
    transition: padding-bottom .8s;
    clear: both;
    background: black;
}

.player__container.stream {
    padding-bottom: 0;
}

.player__overlay {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 1;
}

.player__overlay span {
    font-size: 30px;
    cursor: pointer;
    z-index: 2;
    color: white;
    padding: 32px 29px;
    border-radius: 100%;
    border: 4px white solid;
    transition: all .3s ease-out;
}

.player__overlay .icon-play:before {
    /*  font-size / 3 */
    margin-left: calc(30px / 3);
}

.player__container.iDevice.aderror .player__overlay {
    pointer-events: none !important;
}

.player__overlay:hover span {
    color: #02A3DE;
    border: 4px #02A3DE solid;
}

.player__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

iframe.player__video.hidden {
    position: fixed;
    top: 0;
    left: 0;
    width: 1px !important;
    height: 1px !important;
}

.player__container .vastTarget {
    z-index: 1;
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.player__container .vastCountdown {
    position: absolute;
    top: 10px;
    right: 0;
    min-width: 90px;
    background-color: rgba(255, 255, 255, .2);
    padding: 5px 0;
    font-size: 12px;
    text-align: center;
    transition: all .3s ease-out;
}

.player__container .vastCountdown.done {
    z-index: 2;
    cursor: pointer;
    background-color: white;
}

.player__container .vastCountdown.done:hover {
    text-decoration: underline;
}

.player__controls {
    z-index: 9999999999;
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0);
    min-height: 45px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}

.player__controls div.left {
    padding-left: 20px;
    text-align: left;
    width: 100%;
    /*margin-top: 10px;*/
    margin-top: 0px;
    height: 16px;
}

.player__controls div.right {
    padding-right: 20px;
}

.player__controls:hover {
    display: flex;
    display: -webkit-flex;
}

.player__controls span {
    cursor: pointer;
    display: inline-block;
}

.player__controls span {
    cursor: default;
    margin-right: 20px;
}

.player__controls span.time {
    font-size: 12px;
    vertical-align: text-top;
    height: 16px;
    line-height: 12px;
}

.player__controls span.time > span {
    cursor: default;
    margin: 0;
}

.player__controls span:last-child {
    margin-right: 0;
}

.player__controls span[class*='icon-'] {
    cursor: pointer;
    color: white;
}

.player__controls span[class*='icon-']:hover {
    cursor: pointer;
    color: #02A3DE;
    transition: all .2s ease-in;
}


/** progress */

.player__progress {
    cursor: pointer;
    background-color: rgba(255, 255, 255, .1);
    position: absolute;
    height: 3px;
    width: 100%;
    bottom: 45px;
    left: 0;
    border: 0;
    transition: all .1s ease-out 0s;
    text-align: left;
}

.player__progress:hover {
    height: 8px;
}

.player__progress::-webkit-progress-bar {
    background-color: rgba(255, 255, 255, .3);
}

.player__progress::-moz-progress-bar {
    background-color: #02A3DE;
}

.player__progress::-moz-progress-value {
    background-color: #02A3DE;
}

.player__progress::-webkit-progress-value {
    background-color: #02A3DE;
}

@media screen and (max-device-width: 768px) {
    .player__progress {
        height: 10px;
    }
    .player__progress:hover {
        height: 10px;
    }
}


/** share */

.player__share {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    color: white;
    transition: all .2s ease-in;
}

.player__share span {
    display: block;
    font-size: 20px;
    margin-top: 4px;
    cursor: pointer;
}

.player__share span:hover {
    color: #02A3DE;
}

.player__share span:first-child {
    margin-top: 0;
}

.player__code {
    z-index: 4;
    background-color: rgba(255, 255, 255, .9);
    /*position: relative;*/
    position: absolute !important;
    left: 0;
    width: 100%;
    /*top: 0;*/
    top: 9px;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.player__code textarea {
    display: block;
    overflow: hidden;
    resize: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 12px;
    outline: none;
    width: 70%;
    margin: 0 auto;
    font-family: sans-serif !important;
    color: #FFFFFF !important;
    text-align: center;
}

.player__code span {
    display: block;
    padding: 10px 35px;
    color: #fff;
    font-size: 16px;
    margin-top: 50px;
    text-align: center;
}

.player__code span.close {
    cursor: pointer;
    position: absolute;
    /*top: -60px;
    right: -10px;*/
    top: -46px;
    right: 5px;
    padding: 5px 7px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 100%;
    line-height: 1;
    color: black;
    font-size: 14px;
}

.ytp-watermark {
    bottom: 60px !important;
}

.player__share .icon-vidshareurl {
    background: url('images/vid_playershareurl.png');
    width: 28px;
    height: 28px;
}

.player__share .icon-vidshareurl:hover {
    background: url('images/vid_playershareurl.png') 0 -28px;
}

.player__share .icon-vidfacebook {
    background: url('images/vid_playerfacebookshare.png');
    width: 28px;
    height: 28px;
}

.player__share .icon-vidfacebook:hover {
    background: url('images/vid_playerfacebookshare.png') 0 -28px;
}

.player__share .icon-vidtwitter {
    background: url('images/vid_playertwittershare.png');
    width: 28px;
    height: 28px;
}

.player__share .icon-vidtwitter:hover {
    background: url('images/vid_playertwittershare.png') 0 -28px;
}

.player__logo {
    background: url('images/ad3logo.png');
    width: 200px;
    height: 74px;
    position: absolute;
    left: -50px;
    top: -7px;
    -ms-transform: scale(0.3, 0.3);
    /* IE 9 */
    -webkit-transform: scale(0.3, 0.3);
    /* Safari */
    transform: scale(0.3, 0.3);
    z-index: 9999;
}

.logo_link {
    z-index: 9999999999;
}


/** ad icons */

.player__video-close {
    cursor: pointer;
    color: #7878C0;
    font-size: 10px;
    font-weight: bold;
    text-align: right;
    padding-bottom: 5px;
    display: inline-block;
    float: right;
    font-family: sans-serif !important;
}

.player__video-close img {
	float: right;
	margin-top: 1px;
	padding-left: 5px;
	margin-bottom: 0;
}

.player__video-sound {
    z-index: 9999999999999999999;
    cursor: pointer;
    position: absolute !important;
    right: 0;
    bottom: 0;
    padding: 24px;
    color: white;
    font-size: 16px;
}


/** hide video controls */

.player__video.ad video::-webkit-media-controls-play-button,
.player__video.ad video::-webkit-media-controls-start-playback-button {
    opacity: 0;
    pointer-events: none;
    width: 5px;
}


/** loading */

.sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: 140px auto;
}

.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #6464a0;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%,
    70%,
    100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {
    0%,
    70%,
    100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}
