<IfModule mod_headers.c>
    Options -Indexes

    RewriteEngine On
    RewriteRule ^p(.*)\.js the-player.js [NC,L]

    Header always set Access-Control-Allow-Origin "http://imasdk.googleapis.com"
    Header always set Access-Control-Allow-Credentials "true"
</IfModule>