.player {
    font-family: Arial;
    display: inline-flex;
    position: relative;
}

.player * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/** video */

::-webkit-media-controls {
    display: none !important;
}


/** overlay */

.player > .overlay {
    z-index: 9999999999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.player > .overlay.fullscreen {
    cursor: none;
}


/** progress */

.player progress {
    cursor: pointer;
    background-color: rgba(255, 255, 255, .3);
    position: absolute;
    height: 4px;
    width: 100%;
    bottom: 45px;
    left: 0;
    border: 0;
    transition: all 1s ease-out 0s;
}

.player progress:hover {
    height: 8px;
}

.player progress::-webkit-progress-bar {
    background-color: rgba(255, 255, 255, .3);
}

.player progress::-moz-progress-bar {
    background-color: #02A3DE;
}

.player progress::-moz-progress-value {
    background-color: #02A3DE;
}

.player progress::-webkit-progress-value {
    background-color: #02A3DE;
}


/** icons */

.player span[class*='icon-'] {
    cursor: pointer;
    color: white;
}

.player span[class*='icon-']:hover {
    cursor: pointer;
    color: red;
    transition: all .2s ease-in;
}


/** controls */

.player .controls {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/** controls: mouse over; */

.player .controls .mouseover {
    opacity: 1;
    transition: opacity .3s ease-in;
}

.player .controls .mouseover.off {
    opacity: 0;
}

.player .controls .mouseover.first {
    display: none;
}


/** player controls: icons */

.player .controls span {
    display: inline-block;
}

.player .controls .right span {
    padding-left: 20px;
}

.player .controls .social {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
}

.player .controls .social span {
    display: block;
    font-size: 20px;
    margin-top: 10px;
}

.player .controls .social span:first-child {
    margin-top: 0;
}


/** player controls: center */

.player .center-play {
    cursor: pointer;
    padding: 24px 34px;
}

.player:not([data-video-yt]) .center-play > span.icon-play {
    display: block;
}

.player .center-play > span.icon-play {
    display: none;
    margin-left: 4px;
    margin-top: 2px;
    font-size: 20px;
}

.player .center-play > span.icon-play:hover {
    color: white;
}


/** player controls: bottom; */

.player .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    padding: 12px 18px;
    display: flex;
    justify-content: space-between;
}

.player .bottom span.time {
    color: white;
    vertical-align: top;
    font-size: 12px;
    padding-left: 20px;
    padding-top: 2px;
}

.player .bottom span.time span {
    min-width: 40px;
}


/** player: embed-overlay */

.player .embed-overlay {
    display: none;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0,0,0,0.8);
}

.player .embed-overlay span {
    display: block;
    margin-top: 20%;
    margin-bottom: 10px;
    font-size: 18px;
}

.player .embed-overlay textarea {
    resize: none;
    overflow: hidden;
    height: 56px;
}